In [1]:
import pandas as pd
import numpy as np

In [2]:
char = pd.read_csv('charge_bf.csv')

In [3]:
char

,설치장소,주소,급속충전기(대),완속충전기(대),지원차종
0,가평소방서,경기도 가평군 가평읍 대곡리 213-5,1,0,"SM3 Z.E,테슬라"
1,가평종합운동장,경기도 가평군 가평읍 대곡리 316,2,0,"BMW i3,스파크EV,볼트EV"
2,가평지사,경기도 가평군 가평읍 가화로 169-11,1,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
3,가평하수도사업소,경기도 가평군 가평읍 달전리 364,1,0,"SM3 Z.E,테슬라"
4,상면사무소,경기도 가평군 상면 연하리 171-1,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
...,...,...,...,...,...
4686,원흥2차 아파트,강원도 횡성군 횡성읍 읍하리 395-2,0,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
4687,횡성국민체육센터,강원도 횡성군 횡성읍 읍하리 260,1,0,"SM3 Z.E,테슬라"
4688,횡성지사 전기차 충전소 1,강원도 횡성군 횡성읍 읍하리 561-7,0,2,"레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트EV"
4689,KD빌리앙뜨,전라남도 목포시 석현동 1173,1,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
4690,대성사랑으로,전라남도 목포시 석현동 1074,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."

In [4]:
char_dr = char.copy()
for i in range(char.shape[0]):
    char_fnd = char.loc[i,'주소']
    char_nl = char_fnd.find('null')
    if char_nl >= 0:
        char_dr.drop(index = i,inplace=True)

In [5]:
char_dr

,설치장소,주소,급속충전기(대),완속충전기(대),지원차종
0,가평소방서,경기도 가평군 가평읍 대곡리 213-5,1,0,"SM3 Z.E,테슬라"
1,가평종합운동장,경기도 가평군 가평읍 대곡리 316,2,0,"BMW i3,스파크EV,볼트EV"
2,가평지사,경기도 가평군 가평읍 가화로 169-11,1,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
3,가평하수도사업소,경기도 가평군 가평읍 달전리 364,1,0,"SM3 Z.E,테슬라"
4,상면사무소,경기도 가평군 상면 연하리 171-1,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
...,...,...,...,...,...
4686,원흥2차 아파트,강원도 횡성군 횡성읍 읍하리 395-2,0,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
4687,횡성국민체육센터,강원도 횡성군 횡성읍 읍하리 260,1,0,"SM3 Z.E,테슬라"
4688,횡성지사 전기차 충전소 1,강원도 횡성군 횡성읍 읍하리 561-7,0,2,"레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트EV"
4689,KD빌리앙뜨,전라남도 목포시 석현동 1173,1,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
4690,대성사랑으로,전라남도 목포시 석현동 1074,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."

In [6]:
char_dr = char_dr.set_index(np.arange(0,char_dr.shape[0]))

In [7]:
loc = []
for j in range(char_dr.shape[0]):
    char_loc = char_dr.loc[j,'주소']
    if char_loc.find('경기도') >= 0:
        loc.append(1)
    elif char_loc.find('강원') >= 0:
        loc.append(2)
    elif char_loc.find('경상남') >= 0:
        loc.append(3)
    elif char_loc.find('경상북') >= 0:
        loc.append(4)
    elif char_loc.find('전라남') >= 0:
        loc.append(5)
    elif char_loc.find('전라북') >= 0:
        loc.append(6)
    elif char_loc.find('충청남') >= 0:
        loc.append(7)
    elif char_loc.find('충청북') >= 0:
        loc.append(8)
    elif char_loc.find('제주') >= 0:
        loc.append(9)
    elif char_loc.find('서울') >= 0:
        loc.append(10)
    elif char_loc.find('인천') >= 0:
        loc.append(11)
    elif char_loc.find('대전') >= 0:
        loc.append(12)
    elif char_loc.find('세종') >= 0:
        loc.append(13)
    elif char_loc.find('광주') >= 0:
        loc.append(14)
    elif char_loc.find('대구') >= 0:
        loc.append(15)
    elif char_loc.find('울산') >= 0:
        loc.append(16)
    elif char_loc.find('부산') >= 0:
        loc.append(17)
    else:
        loc.append(0)

In [8]:
char_loc_df = pd.DataFrame(loc, columns=['지역ID'])

In [9]:
char_loc_df

      지역ID
0        1
1        1
2        1
3        1
4        1
...    ...
4684     2
4685     2
4686     2
4687     5
4688     5

[4689 rows x 1 columns]

In [10]:
for k in range(char_loc_df.shape[0]):
    if char_loc_df.loc[k,'지역ID'] == 0:
        char_loc_df.loc[k,'지역ID'] = char_loc_df.loc[k-1,'지역ID']

In [11]:
char_year = []
for l in range(char_loc_df.shape[0]):
    char_year.append(2022)
char_year_df = pd.DataFrame(char_year, columns=['연도'])

In [12]:
char_year_df

        연도
0     2022
1     2022
2     2022
3     2022
4     2022
...    ...
4684  2022
4685  2022
4686  2022
4687  2022
4688  2022

[4689 rows x 1 columns]

In [13]:
char_con = pd.concat([char_loc_df, char_dr,char_year_df],1)

C:\Users\bigze\AppData\Local\Temp\ipykernel_27264\3530912203.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  char_con = pd.concat([char_loc_df, char_dr,char_year_df],1)

In [14]:
char_con

,지역ID,설치장소,주소,급속충전기(대),완속충전기(대),지원차종,연도
0,1,가평소방서,경기도 가평군 가평읍 대곡리 213-5,1,0,"SM3 Z.E,테슬라",2022
1,1,가평종합운동장,경기도 가평군 가평읍 대곡리 316,2,0,"BMW i3,스파크EV,볼트EV",2022
2,1,가평지사,경기도 가평군 가평읍 가화로 169-11,1,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E...",2022
3,1,가평하수도사업소,경기도 가평군 가평읍 달전리 364,1,0,"SM3 Z.E,테슬라",2022
4,1,상면사무소,경기도 가평군 상면 연하리 171-1,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E...",2022
...,...,...,...,...,...,...,...
4684,2,원흥2차 아파트,강원도 횡성군 횡성읍 읍하리 395-2,0,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E...",2022
4685,2,횡성국민체육센터,강원도 횡성군 횡성읍 읍하리 260,1,0,"SM3 Z.E,테슬라",2022
4686,2,횡성지사 전기차 충전소 1,강원도 횡성군 횡성읍 읍하리 561-7,0,2,"레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트EV",2022
4687,5,KD빌리앙뜨,전라남도 목포시 석현동 1173,1,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E...",2022
4688,5,대성사랑으로,전라남도 목포시 석현동 1074,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E...",2022

In [15]:
char_con.columns = ['location_id','field','address','fast','slow','support','year']

In [16]:
char_con.to_csv('charge.csv',index=False)