In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
reg = pd.read_csv('202001_202212_전기차등록현황.csv')

In [3]:
reg

,전기차 등록 현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,합계
3,2022-12,59327,22063,24161,26242,9096,14476,5061,3034,77648,14012,15140,16611,12727,15387,19154,22740,32976,389855
4,2022-11,57351,21916,24131,25835,8733,14163,5030,2962,75811,13618,14933,16467,12622,14981,18864,22081,32227,381725
5,2022-10,55335,21054,23407,24222,8451,13385,4943,2825,72328,12845,14365,15987,12448,14437,17859,20983,30696,365570
6,2022-09,53798,19858,22329,22375,7887,12525,4651,2677,67941,12171,13704,15449,12162,13802,17057,19453,29556,347395
7,2022-08,51240,18507,21239,20858,7397,11920,4184,2555,63314,11538,13210,14438,11353,13050,16429,18245,28790,328267
8,2022-07,49590,17776,20613,19567,7152,11267,4156,2480,59744,10857,12603,14051,10246,12580,15663,17215,28241,313801
9,2022-06,48362,17206,19705,18329,6766,10468,4181,2394,56232,10159,11675,13298,9723,11549,14478,16486,27622,298633
10,2022-05,46722,16630,18808,16859,6462,10213,4134,2307,53239,9666,11209,12712,9310,11102,13839,15821,27224,286257
11,2022-04,45133,16059,18076,15191,6233,9550,3948,2180,50111,9117,10421,12142,8931,10658,13018,14957,26931,272656
12,2022-03,43206,15330,17584,14134,6015,8595,3789,2069,45891,8652,9683,11532,8404,9978,12318,14371,26702,258253
13,2022-02,41693,13805,17091,13179,5652,7902,3405,1902,41266,8179,8664,10525,7456,9203,11540,13536,26184,241182
14,2022-01,41140,12501,16169,12942,5204,7675,3180,1879,40239,8042,8184,10015,7389,8837,11269,12725,25580,232970
15,2021-12,40564,12375,16185,12820,5194,7701,3166,1859,39958,7946,8194,9991,7365,8708,11240,12606,25571,231443
16,2021-11,38840,11766,16083,11775,4978,7737,3149,1717,38563,7231,7731,9836,7147,8042,10870,12122,25381,222968
17,2021-10,35067,10939,15753,11295,4806,7700,3184,1680,37084,6786,7362,9480,6733,7826,10373,11199,24410,211677
18,2021-09,33434,10480,15122,10543,4722,7134,3167,1627,35385,6266,6801,8847,6286,7574,10013,10274,23845,201520
19,2021-08,31220,9525,14632,9370,4478,6652,3038,1509,33832,5929,6414,8426,5826,7211,9683,9730,23590,191065
20,2021-07,29325,8824,14226,8446,4242,6143,2943,1437,31820,5485,5934,8042,5466,6956,9171,9244,23262,180966
21,2021-06,28752,8503,13974,7790,4081,5836,2897,1404,30030,5200,5480,7254,5104,6643,8676,8685,22838,173147
22,2021-05,27013,7515,13472,6708,3813,5222,2734,1353,26944,4750,4952,6588,4432,6222,8118,7867,22148,159851
23,2021-04,25581,6821,13142,6312,3593,4995,2599,1317,24841,4460,4781,6269,4054,6001,7773,7474,21978,151991
24,2021-03,24918,6600,13041,6106,3504,4885,2527,1295,23887,4280,4688,5946,3596,5773,7588,7220,21832,147686
25,2021-02,23381,5512,12846,5517,3200,4462,2284,1186,21100,4086,4338,5575,3363,5415,7149,6552,21297,137263
26,2021-01,23441,5409,12557,5428,3210,4463,2269,1157,20670,4076,3897,5562,3360,5251,7066,6369,21206,135391
27,2020-12,23393,5355,12630,5366,3210,4469,2274,1148,20477,4078,3883,5489,3323,5223,7051,6308,21285,134962
28,2020-11,23052,5210,12570,4999,3162,4415,2249,1127,19903,3810,3794,5157,3269,5055,6753,6137,21261,131923
29,2020-10,22767,4696,12550,4729,3158,4197,2221,1106,19332,3567,3662,4878,3130,4896,6314,5924,21222,128349
30,2020-09,22118,4420,12552,4639,3151,4083,2204,1100,18512,3340,3467,4547,2977,4759,5816,5617,21107,124409
31,2020-08,20997,4320,12468,4204,3046,3338,2142,1076,17197,3091,3319,4252,2906,4576,5400,5003,20699,118034
32,2020-07,20003,4216,12454,3940,2962,3204,2119,1057,16508,3025,3268,4087,2848,4444,5192,4886,20105,114318
33,2020-06,19411,4100,12356,3741,2844,3126,2110,1044,15946,2952,3199,3920,2745,4323,4980,4805,19705,111307
34,2020-05,18098,3936,12160,3402,2745,3001,1774,1030,14876,2839,3077,3701,2561,4215,4818,4568,19388,106189
35,2020-04,17622,3883,11878,3345,2710,2962,1738,1024,14546,2753,2939,3560,2467,4067,4682,4432,19092,103700
36,2020-03,17172,3624,11641,3270,2660,2865,1650,1017,14100,2640,2617,3281,2270,3893,4441,4295,18793,100229
37,2020-02,16438,3270,11275,2791,2489,2625,1464,933,12510,2459,2457,2928,1920,3346,4161,3822,18684,93572
38,2020-01,15353,3223,11274,2660,2479,2618,1441,911,11809,2448,2427,2848,1872,3326,4071,3634,18307,90701

In [4]:
reg = reg.dropna()

In [5]:
reg

,전기차 등록 현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
2,년월,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,합계
3,2022-12,59327,22063,24161,26242,9096,14476,5061,3034,77648,14012,15140,16611,12727,15387,19154,22740,32976,389855
4,2022-11,57351,21916,24131,25835,8733,14163,5030,2962,75811,13618,14933,16467,12622,14981,18864,22081,32227,381725
5,2022-10,55335,21054,23407,24222,8451,13385,4943,2825,72328,12845,14365,15987,12448,14437,17859,20983,30696,365570
6,2022-09,53798,19858,22329,22375,7887,12525,4651,2677,67941,12171,13704,15449,12162,13802,17057,19453,29556,347395
7,2022-08,51240,18507,21239,20858,7397,11920,4184,2555,63314,11538,13210,14438,11353,13050,16429,18245,28790,328267
8,2022-07,49590,17776,20613,19567,7152,11267,4156,2480,59744,10857,12603,14051,10246,12580,15663,17215,28241,313801
9,2022-06,48362,17206,19705,18329,6766,10468,4181,2394,56232,10159,11675,13298,9723,11549,14478,16486,27622,298633
10,2022-05,46722,16630,18808,16859,6462,10213,4134,2307,53239,9666,11209,12712,9310,11102,13839,15821,27224,286257
11,2022-04,45133,16059,18076,15191,6233,9550,3948,2180,50111,9117,10421,12142,8931,10658,13018,14957,26931,272656
12,2022-03,43206,15330,17584,14134,6015,8595,3789,2069,45891,8652,9683,11532,8404,9978,12318,14371,26702,258253
13,2022-02,41693,13805,17091,13179,5652,7902,3405,1902,41266,8179,8664,10525,7456,9203,11540,13536,26184,241182
14,2022-01,41140,12501,16169,12942,5204,7675,3180,1879,40239,8042,8184,10015,7389,8837,11269,12725,25580,232970
15,2021-12,40564,12375,16185,12820,5194,7701,3166,1859,39958,7946,8194,9991,7365,8708,11240,12606,25571,231443
16,2021-11,38840,11766,16083,11775,4978,7737,3149,1717,38563,7231,7731,9836,7147,8042,10870,12122,25381,222968
17,2021-10,35067,10939,15753,11295,4806,7700,3184,1680,37084,6786,7362,9480,6733,7826,10373,11199,24410,211677
18,2021-09,33434,10480,15122,10543,4722,7134,3167,1627,35385,6266,6801,8847,6286,7574,10013,10274,23845,201520
19,2021-08,31220,9525,14632,9370,4478,6652,3038,1509,33832,5929,6414,8426,5826,7211,9683,9730,23590,191065
20,2021-07,29325,8824,14226,8446,4242,6143,2943,1437,31820,5485,5934,8042,5466,6956,9171,9244,23262,180966
21,2021-06,28752,8503,13974,7790,4081,5836,2897,1404,30030,5200,5480,7254,5104,6643,8676,8685,22838,173147
22,2021-05,27013,7515,13472,6708,3813,5222,2734,1353,26944,4750,4952,6588,4432,6222,8118,7867,22148,159851
23,2021-04,25581,6821,13142,6312,3593,4995,2599,1317,24841,4460,4781,6269,4054,6001,7773,7474,21978,151991
24,2021-03,24918,6600,13041,6106,3504,4885,2527,1295,23887,4280,4688,5946,3596,5773,7588,7220,21832,147686
25,2021-02,23381,5512,12846,5517,3200,4462,2284,1186,21100,4086,4338,5575,3363,5415,7149,6552,21297,137263
26,2021-01,23441,5409,12557,5428,3210,4463,2269,1157,20670,4076,3897,5562,3360,5251,7066,6369,21206,135391
27,2020-12,23393,5355,12630,5366,3210,4469,2274,1148,20477,4078,3883,5489,3323,5223,7051,6308,21285,134962
28,2020-11,23052,5210,12570,4999,3162,4415,2249,1127,19903,3810,3794,5157,3269,5055,6753,6137,21261,131923
29,2020-10,22767,4696,12550,4729,3158,4197,2221,1106,19332,3567,3662,4878,3130,4896,6314,5924,21222,128349
30,2020-09,22118,4420,12552,4639,3151,4083,2204,1100,18512,3340,3467,4547,2977,4759,5816,5617,21107,124409
31,2020-08,20997,4320,12468,4204,3046,3338,2142,1076,17197,3091,3319,4252,2906,4576,5400,5003,20699,118034
32,2020-07,20003,4216,12454,3940,2962,3204,2119,1057,16508,3025,3268,4087,2848,4444,5192,4886,20105,114318
33,2020-06,19411,4100,12356,3741,2844,3126,2110,1044,15946,2952,3199,3920,2745,4323,4980,4805,19705,111307
34,2020-05,18098,3936,12160,3402,2745,3001,1774,1030,14876,2839,3077,3701,2561,4215,4818,4568,19388,106189
35,2020-04,17622,3883,11878,3345,2710,2962,1738,1024,14546,2753,2939,3560,2467,4067,4682,4432,19092,103700
36,2020-03,17172,3624,11641,3270,2660,2865,1650,1017,14100,2640,2617,3281,2270,3893,4441,4295,18793,100229
37,2020-02,16438,3270,11275,2791,2489,2625,1464,933,12510,2459,2457,2928,1920,3346,4161,3822,18684,93572
38,2020-01,15353,3223,11274,2660,2479,2618,1441,911,11809,2448,2427,2848,1872,3326,4071,3634,18307,90701

In [6]:
reg = reg.set_index(np.arange(0,reg.shape[0]))

In [7]:
reg

,전기차 등록 현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,년월,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,합계
1,2022-12,59327,22063,24161,26242,9096,14476,5061,3034,77648,14012,15140,16611,12727,15387,19154,22740,32976,389855
2,2022-11,57351,21916,24131,25835,8733,14163,5030,2962,75811,13618,14933,16467,12622,14981,18864,22081,32227,381725
3,2022-10,55335,21054,23407,24222,8451,13385,4943,2825,72328,12845,14365,15987,12448,14437,17859,20983,30696,365570
4,2022-09,53798,19858,22329,22375,7887,12525,4651,2677,67941,12171,13704,15449,12162,13802,17057,19453,29556,347395
5,2022-08,51240,18507,21239,20858,7397,11920,4184,2555,63314,11538,13210,14438,11353,13050,16429,18245,28790,328267
6,2022-07,49590,17776,20613,19567,7152,11267,4156,2480,59744,10857,12603,14051,10246,12580,15663,17215,28241,313801
7,2022-06,48362,17206,19705,18329,6766,10468,4181,2394,56232,10159,11675,13298,9723,11549,14478,16486,27622,298633
8,2022-05,46722,16630,18808,16859,6462,10213,4134,2307,53239,9666,11209,12712,9310,11102,13839,15821,27224,286257
9,2022-04,45133,16059,18076,15191,6233,9550,3948,2180,50111,9117,10421,12142,8931,10658,13018,14957,26931,272656
10,2022-03,43206,15330,17584,14134,6015,8595,3789,2069,45891,8652,9683,11532,8404,9978,12318,14371,26702,258253
11,2022-02,41693,13805,17091,13179,5652,7902,3405,1902,41266,8179,8664,10525,7456,9203,11540,13536,26184,241182
12,2022-01,41140,12501,16169,12942,5204,7675,3180,1879,40239,8042,8184,10015,7389,8837,11269,12725,25580,232970
13,2021-12,40564,12375,16185,12820,5194,7701,3166,1859,39958,7946,8194,9991,7365,8708,11240,12606,25571,231443
14,2021-11,38840,11766,16083,11775,4978,7737,3149,1717,38563,7231,7731,9836,7147,8042,10870,12122,25381,222968
15,2021-10,35067,10939,15753,11295,4806,7700,3184,1680,37084,6786,7362,9480,6733,7826,10373,11199,24410,211677
16,2021-09,33434,10480,15122,10543,4722,7134,3167,1627,35385,6266,6801,8847,6286,7574,10013,10274,23845,201520
17,2021-08,31220,9525,14632,9370,4478,6652,3038,1509,33832,5929,6414,8426,5826,7211,9683,9730,23590,191065
18,2021-07,29325,8824,14226,8446,4242,6143,2943,1437,31820,5485,5934,8042,5466,6956,9171,9244,23262,180966
19,2021-06,28752,8503,13974,7790,4081,5836,2897,1404,30030,5200,5480,7254,5104,6643,8676,8685,22838,173147
20,2021-05,27013,7515,13472,6708,3813,5222,2734,1353,26944,4750,4952,6588,4432,6222,8118,7867,22148,159851
21,2021-04,25581,6821,13142,6312,3593,4995,2599,1317,24841,4460,4781,6269,4054,6001,7773,7474,21978,151991
22,2021-03,24918,6600,13041,6106,3504,4885,2527,1295,23887,4280,4688,5946,3596,5773,7588,7220,21832,147686
23,2021-02,23381,5512,12846,5517,3200,4462,2284,1186,21100,4086,4338,5575,3363,5415,7149,6552,21297,137263
24,2021-01,23441,5409,12557,5428,3210,4463,2269,1157,20670,4076,3897,5562,3360,5251,7066,6369,21206,135391
25,2020-12,23393,5355,12630,5366,3210,4469,2274,1148,20477,4078,3883,5489,3323,5223,7051,6308,21285,134962
26,2020-11,23052,5210,12570,4999,3162,4415,2249,1127,19903,3810,3794,5157,3269,5055,6753,6137,21261,131923
27,2020-10,22767,4696,12550,4729,3158,4197,2221,1106,19332,3567,3662,4878,3130,4896,6314,5924,21222,128349
28,2020-09,22118,4420,12552,4639,3151,4083,2204,1100,18512,3340,3467,4547,2977,4759,5816,5617,21107,124409
29,2020-08,20997,4320,12468,4204,3046,3338,2142,1076,17197,3091,3319,4252,2906,4576,5400,5003,20699,118034
30,2020-07,20003,4216,12454,3940,2962,3204,2119,1057,16508,3025,3268,4087,2848,4444,5192,4886,20105,114318
31,2020-06,19411,4100,12356,3741,2844,3126,2110,1044,15946,2952,3199,3920,2745,4323,4980,4805,19705,111307
32,2020-05,18098,3936,12160,3402,2745,3001,1774,1030,14876,2839,3077,3701,2561,4215,4818,4568,19388,106189
33,2020-04,17622,3883,11878,3345,2710,2962,1738,1024,14546,2753,2939,3560,2467,4067,4682,4432,19092,103700
34,2020-03,17172,3624,11641,3270,2660,2865,1650,1017,14100,2640,2617,3281,2270,3893,4441,4295,18793,100229
35,2020-02,16438,3270,11275,2791,2489,2625,1464,933,12510,2459,2457,2928,1920,3346,4161,3822,18684,93572
36,2020-01,15353,3223,11274,2660,2479,2618,1441,911,11809,2448,2427,2848,1872,3326,4071,3634,18307,90701

In [8]:
for i in range(1,reg.shape[0]):
    if reg.loc[i,'전기차 등록 현황'][5:] != '12':
        reg = reg.drop(i,0)

In [9]:
reg

,전기차 등록 현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,년월,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,합계
1,2022-12,59327,22063,24161,26242,9096,14476,5061,3034,77648,14012,15140,16611,12727,15387,19154,22740,32976,389855
13,2021-12,40564,12375,16185,12820,5194,7701,3166,1859,39958,7946,8194,9991,7365,8708,11240,12606,25571,231443
25,2020-12,23393,5355,12630,5366,3210,4469,2274,1148,20477,4078,3883,5489,3323,5223,7051,6308,21285,134962

In [10]:
reg = reg.T[1:-1]

In [11]:
reg

             0      1      13     25
Unnamed: 1   서울  59327  40564  23393
Unnamed: 2   부산  22063  12375   5355
Unnamed: 3   대구  24161  16185  12630
Unnamed: 4   인천  26242  12820   5366
Unnamed: 5   광주   9096   5194   3210
Unnamed: 6   대전  14476   7701   4469
Unnamed: 7   울산   5061   3166   2274
Unnamed: 8   세종   3034   1859   1148
Unnamed: 9   경기  77648  39958  20477
Unnamed: 10  강원  14012   7946   4078
Unnamed: 11  충북  15140   8194   3883
Unnamed: 12  충남  16611   9991   5489
Unnamed: 13  전북  12727   7365   3323
Unnamed: 14  전남  15387   8708   5223
Unnamed: 15  경북  19154  11240   7051
Unnamed: 16  경남  22740  12606   6308
Unnamed: 17  제주  32976  25571  21285

In [12]:
reg = reg.set_index(np.arange(0,reg.shape[0]))

In [13]:
reg

    0      1      13     25
0   서울  59327  40564  23393
1   부산  22063  12375   5355
2   대구  24161  16185  12630
3   인천  26242  12820   5366
4   광주   9096   5194   3210
5   대전  14476   7701   4469
6   울산   5061   3166   2274
7   세종   3034   1859   1148
8   경기  77648  39958  20477
9   강원  14012   7946   4078
10  충북  15140   8194   3883
11  충남  16611   9991   5489
12  전북  12727   7365   3323
13  전남  15387   8708   5223
14  경북  19154  11240   7051
15  경남  22740  12606   6308
16  제주  32976  25571  21285

In [14]:
for i in range(reg.shape[0]):
    reg_loc = reg.loc[i,0]
    if reg_loc.find('경기') >= 0:
        reg.loc[i,0] = 1
    elif reg_loc.find('강원') >= 0:
        reg.loc[i,0] = 2
    elif reg_loc.find('경남') >= 0:
        reg.loc[i,0] = 3
    elif reg_loc.find('경북') >= 0:
        reg.loc[i,0] = 4
    elif reg_loc.find('전남') >= 0:
        reg.loc[i,0] = 5
    elif reg_loc.find('전북') >= 0:
        reg.loc[i,0] = 6
    elif reg_loc.find('충남') >= 0:
        reg.loc[i,0] = 7
    elif reg_loc.find('충북') >= 0:
        reg.loc[i,0] = 8
    elif reg_loc.find('제주') >= 0:
        reg.loc[i,0] = 9
    elif reg_loc.find('서울') >= 0:
        reg.loc[i,0] = 10
    elif reg_loc.find('인천') >= 0:
        reg.loc[i,0] = 11
    elif reg_loc.find('대전') >= 0:
        reg.loc[i,0] = 12
    elif reg_loc.find('세종') >= 0:
        reg.loc[i,0] = 13
    elif reg_loc.find('광주') >= 0:
        reg.loc[i,0] = 14
    elif reg_loc.find('대구') >= 0:
        reg.loc[i,0] = 15
    elif reg_loc.find('울산') >= 0:
        reg.loc[i,0] = 16
    elif reg_loc.find('부산') >= 0:
        reg.loc[i,0] = 17

In [15]:
reg

    0      1      13     25
0   10  59327  40564  23393
1   17  22063  12375   5355
2   15  24161  16185  12630
3   11  26242  12820   5366
4   14   9096   5194   3210
5   12  14476   7701   4469
6   16   5061   3166   2274
7   13   3034   1859   1148
8    1  77648  39958  20477
9    2  14012   7946   4078
10   8  15140   8194   3883
11   7  16611   9991   5489
12   6  12727   7365   3323
13   5  15387   8708   5223
14   4  19154  11240   7051
15   3  22740  12606   6308
16   9  32976  25571  21285

In [16]:
reg.columns = ['location_id', 'registration_cnt', 'registration_cnt', 'registration_cnt']

In [17]:
reg

   location_id registration_cnt registration_cnt registration_cnt
0           10            59327            40564            23393
1           17            22063            12375             5355
2           15            24161            16185            12630
3           11            26242            12820             5366
4           14             9096             5194             3210
5           12            14476             7701             4469
6           16             5061             3166             2274
7           13             3034             1859             1148
8            1            77648            39958            20477
9            2            14012             7946             4078
10           8            15140             8194             3883
11           7            16611             9991             5489
12           6            12727             7365             3323
13           5            15387             8708             5223
14           4            19154            11240             7051
15           3            22740            12606             6308
16           9            32976            25571            21285

In [18]:
reg_loc = pd.DataFrame(reg.iloc[:,0])
reg_22 = pd.DataFrame(reg.iloc[:,1])
reg_21 = pd.DataFrame(reg.iloc[:,2])
reg_20 = pd.DataFrame(reg.iloc[:,3])

In [19]:
reg_20['year'] = 2020
reg_21['year'] = 2021
reg_22['year'] = 2022

In [20]:
reg_20 = pd.concat([reg_loc,reg_20],1)
reg_21 = pd.concat([reg_loc,reg_21],1)
reg_22 = pd.concat([reg_loc,reg_22],1)

In [23]:
reg = pd.concat([reg_20,reg_21,reg_22])

In [25]:
reg = reg.set_index(np.arange(0,reg.shape[0]))

In [26]:
reg

   location_id registration_cnt  year
0           10            23393  2020
1           17             5355  2020
2           15            12630  2020
3           11             5366  2020
4           14             3210  2020
5           12             4469  2020
6           16             2274  2020
7           13             1148  2020
8            1            20477  2020
9            2             4078  2020
10           8             3883  2020
11           7             5489  2020
12           6             3323  2020
13           5             5223  2020
14           4             7051  2020
15           3             6308  2020
16           9            21285  2020
17          10            40564  2021
18          17            12375  2021
19          15            16185  2021
20          11            12820  2021
21          14             5194  2021
22          12             7701  2021
23          16             3166  2021
24          13             1859  2021
25           1            39958  2021
26           2             7946  2021
27           8             8194  2021
28           7             9991  2021
29           6             7365  2021
30           5             8708  2021
31           4            11240  2021
32           3            12606  2021
33           9            25571  2021
34          10            59327  2022
35          17            22063  2022
36          15            24161  2022
37          11            26242  2022
38          14             9096  2022
39          12            14476  2022
40          16             5061  2022
41          13             3034  2022
42           1            77648  2022
43           2            14012  2022
44           8            15140  2022
45           7            16611  2022
46           6            12727  2022
47           5            15387  2022
48           4            19154  2022
49           3            22740  2022
50           9            32976  2022

In [28]:
reg.to_csv('registration.csv',index=False)